.root {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
}

.preview {
    height: 30px;
    border: none;
}

input {
    font-size: 15px;
    border: 1px solid lightgray;
}

.palette {
    z-index: 100;
    position: absolute;
}
