.root {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
    max-width: 100px;
}

.preview {
    height: 30px;
    border: none;
    width: 100%;
}

.text {
    font-size: 15px;
}

.palette {
    z-index: 100;
}
