.settings {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.button {
    width: 200px;
}
.picker {
    max-width: 400px;
}
.table {
    margin-top: 40px;
    max-width: 500px;
}